* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<blockH1>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.blockH1 {
  margin: 5px auto 0;
  width: 1200px;
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 50px 50px 0 0;
}

.blockH1 h1 {
  font-size: 40px;
  color: black;
  margin: 0 0 0 -800px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<blockButton>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.blockButton {
  width: 200px;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  padding: 20px 0 25px 0;
}

.blockButton div {
  margin: 5px auto 0;
  display: flex;
}

.blockButton button {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  font-size: 15px;
  color: black;
  border: none;
  background-color: rgb(255, 255, 255);
}

.blockButton h3 {
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

.blockButton span {
  display: block;
  width: 90px;
  color: black;
  font-size: 22px;
}

.circleRed:hover {
 cursor: pointer;

}

.circleGreen:hover {
    cursor: pointer;
  
}

.actionBlock {
  width: 1200px;
  min-height: 570px;
  margin: auto;
  display: flex;
  background-color: white;
}

form {
  border: 1px solid black;
  margin: 5px 5px 5px 0;

  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

form ::placeholder {
  font-size: 15px;
  color: black;
  font-family: Arial;
}

form h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: black;
}

form select {
  margin: 20px 0 0 20px;
  padding: 5px;
  border: none;
  width: content-box;
  font-size: 15px;
  outline: none;
  color: black;
  background-color: white;
}

.headingPost {
  margin: 20px auto 0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 340px;
  font-size: 15px;
  outline: none;
  background-color: white;
}

.postText {
  margin: 20px auto 0;
  padding: 5px;
  border: 1px solid black;
  width: 350px;
  font-size: 15px;
  outline: none;
  resize: none;
  color: black;
  background-color: white;
}

.sendPost {
  margin: 20px auto;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: content-box;
  font-size: 15px;
  color: #0d3f3f;
  background-color: white;
}

form select:hover,
.headingPost:hover,
.postText:hover,
.sendPost:hover {
  background-color: white;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<blockPost>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.blockPosts {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: -10px 0 0;
}

::-webkit-scrollbar {
  display: none;
}

.postCard {
  margin: 20px auto;
  padding: 10px 15px;
  width: 300px;
  border: 1px solid black;
  background-color: white;
}

.headerPost {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: serif;
}

.headerPost a {
  padding: 0 3px;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  color: blue;
}
.contentDate {
  color: black;
}

.contentHeading {
  text-align: center;
  padding: 0 5px 5px;
  font-family: Tahoma;
}

.contentTextPost {
  height: 80px;
  padding: 5px 10px;
  border: 1px solid black;
  word-wrap: break-word;
  overflow: hidden;
  background-color: white;
}

.contentTextPost:hover {
  overflow: auto;
}

.blockPostButton {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.blockPostButton button {
  padding: 1px 3px;
  border: 1px solid black;
  width: 90px;
  background-color: lightgoldenrodyellow;
  color: black;
}

.buttonEdit:hover {
  background-color: white;
  border-color: white;
}
#positionForm form {
  width: 400px;
  height: 340px;
  position: absolute;
  z-index: 5;
  margin: 15px 0 0 0;

  background-color: white;
}

#positionForm h2 {
  color: black;
}

#positionForm select {
  background-color: white;
  font-size: 20px;
  width: content-box;
  padding: 10px;
  color: black;
}

#positionForm button {
  background-color: white;
  font-size: 25px;
  width: content-box;
  padding: 10px;
  color: black;
}

#positionForm input,
#positionForm textarea {
  background-color: white;
  font-size: 20px;
  width: 300px;
  padding: 10px;
}

#positionForm form input::placeholder,
#positionForm form textarea::placeholder {
  color: darkslategray;
  font-size: 25px;
  text-align: left;
}

#positionForm select:hover,
#positionForm input:hover,
#positionForm textarea:hover,
#positionForm button:hover {
  background-color: white;
}

.allAuthorsPage,
.authorsBlock {
  text-align: center;
}

.authorsBlock {
  margin: 10px auto;
  width: 900px;
  height: 700px;
  border: 1px solid black;
  background-color: white;
}

.authorsBlock a {
  position: absolute;
  top: 70px;
  display: block;
  text-decoration: none;
  font-size: 30px;
  background-color: white;
  width: 150px;
  color: gold;
  padding: 10px;
}

.authorsBlock a:hover,
.allAuthorsPage a:hover {
  background-color: gold;
  color: #0d3f3f;
}

.authorsBlock h1 {
  color: gold;
}

.authorsBlock p {
  margin: 10px;
  font-size: 20px;
  color: orangered;
}

.allAuthorsPage a {
  position: fixed;
  top: 100px;
  left: 323px;
  display: block;
  text-decoration: none;
  font-size: 30px;
  background-color: white;
  width: 150px;
  color: gold;
  padding: 10px;
  border-radius: 0 20px 20px 0;
}
